---
import "../styles/style.css";
import "../styles/header.css";
import "../styles/home.css";
import "../styles/menu.css";
import Navbar from "../components/Navbar.astro";
import imagemPrincipal from "../assets/hero.png";
import product1 from "../assets/product1.png";
import product2 from "../assets/product2.png";
import product3 from "../assets/product3.png";
import product4 from "../assets/product4.png";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		/>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		></script>
		<script defer src="/script.js"></script>
		<title>Lading page</title>
	</head>
	<body>
		<header>
			<Navbar />
		</header>

		<main id="content">
			<section id="home">
				<div class="shape"></div>
				<div id="cta">
					<h1 class="title">
						O aroma do nosso café envolve
						<span>você</span>
					</h1>

					<p class="description">
						Lorem, ipsum dolor sit amet consectetur adipisicing
						elit.
					</p>

					<div id="cta-buttons">
						<a href="#" class="btn-default"> Ver menu </a>

						<a href="tel:+5555-55555" id="phone-button">
							<button class="btn-default">
								<i class="fa-solid fa-phone"></i>
							</button>
							(51) 9877-87565
						</a>
					</div>

					<div class="social-media-buttons">
						<a href=""><i class="fa-brands fa-whatsapp"></i></a>
						<a href=""><i class="fa-brands fa-instagram"></i></a>
						<a href=""><i class="fa-brands fa-facebook"></i></a>
					</div>
				</div>

				<div id="banner">
					<img src={imagemPrincipal.src} alt="Café" />
				</div>
			</section>

			<section id="menu">
				<h2 class="section-title">Menu</h2>
				<h3 class="section-subtitle">Nossos cafés especiais</h3>

				<div id="dishes">
					<div class="dish">
						<div class="dish-heart">
							<i class="fa-solid fa-heart"></i>
						</div>

						<img
							src={product1.src}
							class="dish-image"
							alt="Café"
						/>

						<h3 class="dish-title">Lorem Ipsum</h3>

						<span class="dish-description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</span>

						<div class="dish-rate">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<span>(700+)</span>
						</div>

						<div class="dish-price">
							<h4>R$ 20,00</h4>
							<button class="btn-default">
								<i class="fa-solid fa-basket-shopping"></i>
							</button>
						</div>
					</div>

					<div class="dish">
						<div class="dish-heart">
							<i class="fa-solid fa-heart"></i>
						</div>

						<img
							src={product2.src}
							class="dish-image"
							alt="Café"
						/>

						<h3 class="dish-title">Lorem Ipsum</h3>

						<span class="dish-description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</span>

						<div class="dish-rate">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<span>(700+)</span>
						</div>

						<div class="dish-price">
							<h4>R$ 20,00</h4>
							<button class="btn-default">
								<i class="fa-solid fa-basket-shopping"></i>
							</button>
						</div>
					</div>

					<div class="dish">
						<div class="dish-heart">
							<i class="fa-solid fa-heart"></i>
						</div>

						<img
							src={product3.src}
							class="dish-image"
							alt="Café"
						/>

						<h3 class="dish-title">Lorem Ipsum</h3>

						<span class="dish-description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</span>

						<div class="dish-rate">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<span>(700+)</span>
						</div>

						<div class="dish-price">
							<h4>R$ 20,00</h4>
							<button class="btn-default">
								<i class="fa-solid fa-basket-shopping"></i>
							</button>
						</div>
					</div>

					<div class="dish">
						<div class="dish-heart">
							<i class="fa-solid fa-heart"></i>
						</div>

						<img
							src={product4.src}
							class="dish-image"
							alt="Café"
						/>

						<h3 class="dish-title">Lorem Ipsum</h3>

						<span class="dish-description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</span>

						<div class="dish-rate">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<span>(700+)</span>
						</div>

						<div class="dish-price">
							<h4>R$ 20,00</h4>
							<button class="btn-default">
								<i class="fa-solid fa-basket-shopping"></i>
							</button>
						</div>
					</div>

				</div>

			</section>

			<section id="testimonials">

			</section>
		</main>
	</body>
</html>
